{% extends 'base.html' %}
{%block conteudo%}
     <script>
        function atualizarPotenciaEAntenna() {
            const nomeSelecionado = document.getElementById('selectRadios').value;
            fetch(`/get_radio/${nomeSelecionado}`)
                .then(response => response.json())
                .then(data => {
                    const selectPotencia = document.getElementById('selectPotencia');
                    const inputPotencia = document.getElementById('inputPotencia');
                    const selectAntenas = document.getElementById('selectAntenas');

                    // Atualizar a potência
                    if (data.potencia_tipo === 1) {
                        inputPotencia.style.display = 'none';
                        selectPotencia.innerHTML = '';
                        data.potencia_valor.forEach(potencia => {
                            const option = document.createElement('option');
                            option.value = potencia;
                            option.text = potencia;
                            selectPotencia.appendChild(option);
                        });
                        selectPotencia.style.display = 'block';
                    } else if (data.potencia_tipo === 0) {
                        selectPotencia.style.display = 'none';
                        inputPotencia.value = data.potencia_valor[0];
                        inputPotencia.style.display = 'block';
                    } else {
                        selectPotencia.style.display = 'none';
                        inputPotencia.style.display = 'none';
                    }

                    // Atualizar a antena
                    selectAntenas.innerHTML = '';
                    data.antenas.forEach(antena => {
                        const option = document.createElement('option');
                        option.value = antena;
                        option.text = antena;
                        selectAntenas.appendChild(option);
                    });
                    selectAntenas.style.display = 'block';
                });
        }
    </script>
<body>
    <div id="AddPoint" style="height: 15%;">
        <h1>Adicionar ponto</h1>
        <ol>
	        <form id="markerForm">
		        <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required>

                <label for="lat">Latitude:</label>
                <input type="text" id="lat" name="lat" required>

                <label for="lon">Longitude:</label>
                <input type="text" id="lon" name="lon" required>

   <label for="selectRadios">Selecione um rádio:</label>
    <select id="selectRadios" onchange="atualizarPotenciaEAntenna()" name="radio">
        {% for radio in radios %}
            <option value="{{ radio.nome }}">{{ radio.nome }}</option>
        {% endfor %}
    </select>

    <br><br>
    <label>Potência:</label>
    <select id="selectPotencia" style="display: none;" name="pot"></select>
    <input type="text" id="inputPotencia" style="display: none;" name="pot" />

    <br><br>

    <label for="selectAntenas">Selecione uma antena:</label>
    <select id="selectAntenas" style="display: none;" name="ant"></select>

                <label for="h">Altura da antena:</label>
                <input type="text" id="h" name="h" required>


                <button type="button" onclick="addMarker()">Adicionar Marcador</button>
	        </form>
        </ol>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Função para adicionar marcador
        function addMarker(lat, lon) {
            var formData = new FormData(document.getElementById('markerForm'));
            if (lat && lon) {
                formData.set('lat', lat);
                formData.set('lon', lon);
            }

            fetch('/add_marker', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.result === 'success') {
                    // Atualiza a página para exibir o novo marcador
                    location.reload();
                } else {
                    alert('Falha ao adicionar marcador.');
                }
            });
        }
    </script>

</body>
{% endblock conteudo%}