<!DOCTYPE html>
<html>
<head>
    <title>Mapa WMS com Leaflet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-tilelayer-wms/leaflet-tilelayer-wms.js"></script>
    <style>
        #map {
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([-20, -50], 4);

        L.tileLayer.wms('http://bdgex.eb.mil.br/mapcache', {
            layers: 'ctm100',
            format: 'image/png',
            transparent: true,
            attribution: 'BDGEx WMS'
        }).addTo(map);
    </script>
</body>
</html>