{% extends 'base.html' %}
{%block conteudo%}

<body>
    <div id="config" style="height: 15%;">
        <h2 style="text-align: center;">Parametros de Configuracao</h2>
    <ol>
        <form action="{{url_for('conf')}}" method="post">
            <label for="urb">calculo da perda urbana</label>
            <input type="text" id="urb" name="urb" required>

            <label for="veg">cálculo da perda em vegetação</label>
            <input type="text" id="veg" name="veg" required>

            <label for="precisao">Precisao de predição de areia</label>
            <input type="text" id="precisao" name="precisao" required>

            <button>Setar configuração</button>
        </form>
    </ol>
    </div>

</body>
{% endblock conteudo%}