<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa com Camada de Elevação</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div id="map" style="height: 500px;"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([37.7749, -122.4194], 8);

        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            {
                attribution: '© OpenStreetMap contributors'
            }
        ).addTo(map);

        // Adicione a camada de elevação ao mapa Leaflet
        var elevationLayer = L.tileLayer(
            'C:\PythonFlask\PlanCom\templates\map.html',
            {
                attribution: 'Google Earth Engine',
            }
        ).addTo(map);
    </script>
</body>
</html>