<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e086e5af50778b260064e1c873d944ab {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_e086e5af50778b260064e1c873d944ab" ></div>
        
</body>
<script>
    
    
            var map_e086e5af50778b260064e1c873d944ab = L.map(
                "map_e086e5af50778b260064e1c873d944ab",
                {
                    center: [-22.912, -43.2089],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_12f9d177bce4b2abe53e75e9c9a58eae = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_12f9d177bce4b2abe53e75e9c9a58eae.addTo(map_e086e5af50778b260064e1c873d944ab);
        
    
            var tile_layer_ca35766818a20afadc19e64dda7f43c0 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_ca35766818a20afadc19e64dda7f43c0.addTo(map_e086e5af50778b260064e1c873d944ab);
        
    
            var tile_layer_7a3013fe0cc1002eee05413c5ed6a5c6 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_7a3013fe0cc1002eee05413c5ed6a5c6.addTo(map_e086e5af50778b260064e1c873d944ab);
        
    
            var tile_layer_bc5c2241a3f4a010466719dd3cb3822c = L.tileLayer(
                "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png",
                {"attribution": "OpenTopoMap", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_bc5c2241a3f4a010466719dd3cb3822c.addTo(map_e086e5af50778b260064e1c873d944ab);
        
    
            var layer_control_d83214c7bda7f6ebfa8fb68eff5a0df2_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_12f9d177bce4b2abe53e75e9c9a58eae,
                    "google maps" : tile_layer_ca35766818a20afadc19e64dda7f43c0,
                    "google maps street view" : tile_layer_7a3013fe0cc1002eee05413c5ed6a5c6,
                    "OpenTopoMap" : tile_layer_bc5c2241a3f4a010466719dd3cb3822c,
                },
                overlays :  {
                },
            };
            let layer_control_d83214c7bda7f6ebfa8fb68eff5a0df2 = L.control.layers(
                layer_control_d83214c7bda7f6ebfa8fb68eff5a0df2_layers.base_layers,
                layer_control_d83214c7bda7f6ebfa8fb68eff5a0df2_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e086e5af50778b260064e1c873d944ab);

        
    
                var lat_lng_popup_e4bd796b0689b8f633a0c99adb8d4fce = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_e4bd796b0689b8f633a0c99adb8d4fce
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_e086e5af50778b260064e1c873d944ab);
                    }
                map_e086e5af50778b260064e1c873d944ab.on('click', latLngPop);
            
    
            var marker_07f847e73b73eede06cd1ddafc076412 = L.marker(
                [-22.9555, -43.1661],
                {}
            ).addTo(map_e086e5af50778b260064e1c873d944ab);
        
    
            var marker_2415a103afc1dccb195b68b044679e4f = L.marker(
                [-22.9036, -43.1895],
                {}
            ).addTo(map_e086e5af50778b260064e1c873d944ab);
        
    
            var marker_fa805725fc631a658948b2ac27127f79 = L.marker(
                [4.991688749, 8.320198953],
                {}
            ).addTo(map_e086e5af50778b260064e1c873d944ab);
        
</script>
</html>