<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0ceeebdef5e65b8c247c16b45487c991 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_0ceeebdef5e65b8c247c16b45487c991" ></div>
        
</body>
<script>
    
    
            var map_0ceeebdef5e65b8c247c16b45487c991 = L.map(
                "map_0ceeebdef5e65b8c247c16b45487c991",
                {
                    center: [-22.912, -43.2089],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_164303f133c96b8f674c14ac493e48d8 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_164303f133c96b8f674c14ac493e48d8.addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
    
            var tile_layer_f01304ead5ec2ed57510142fe946591d = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_f01304ead5ec2ed57510142fe946591d.addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
    
            var tile_layer_c432efab5ea13c06a65140034e0b05b7 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_c432efab5ea13c06a65140034e0b05b7.addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
    
            var tile_layer_a070c4afb7c986522fea9f46c677c837 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_a070c4afb7c986522fea9f46c677c837.addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
    
            var tile_layer_06b9f360224d6200a86f84a7f7928aec = L.tileLayer(
                "https://earthengine.googleapis.com/v1/projects/plancom-409417/maps/333817cd341186971059b6a2ae7c2d5b-b33654aa0191696f9eb49c47377fa526/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u0026copy; \u003ca href=\"https://earthengine.google.com/\"\u003eGoogle Earth Engine\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_06b9f360224d6200a86f84a7f7928aec.addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
    
            var layer_control_ebd2f43ec68ae30fa66fa9f985a0a979_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_164303f133c96b8f674c14ac493e48d8,
                    "google maps" : tile_layer_a070c4afb7c986522fea9f46c677c837,
                    "google maps street view" : tile_layer_c432efab5ea13c06a65140034e0b05b7,
                },
                overlays :  {
                    "elevacao" : tile_layer_06b9f360224d6200a86f84a7f7928aec,
                },
            };
            let layer_control_ebd2f43ec68ae30fa66fa9f985a0a979 = L.control.layers(
                layer_control_ebd2f43ec68ae30fa66fa9f985a0a979_layers.base_layers,
                layer_control_ebd2f43ec68ae30fa66fa9f985a0a979_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_0ceeebdef5e65b8c247c16b45487c991);

        
    
                var lat_lng_popup_3477b1d864d3efb942f68eff05f9c1d3 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_3477b1d864d3efb942f68eff05f9c1d3
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_0ceeebdef5e65b8c247c16b45487c991);
                    }
                map_0ceeebdef5e65b8c247c16b45487c991.on('click', latLngPop);
            
    
            var marker_89b0370f577ad2de539edd8b50e98b0f = L.marker(
                [-22.9555, -43.1661],
                {}
            ).addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
    
            var marker_d345d3c28dd59335554a9f64e5ba835d = L.marker(
                [-22.9036, -43.1895],
                {}
            ).addTo(map_0ceeebdef5e65b8c247c16b45487c991);
        
</script>
</html>