<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_87b2479b7bc180d16f159479a6976e8b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_87b2479b7bc180d16f159479a6976e8b" ></div>
        
</body>
<script>
    
    
            var map_87b2479b7bc180d16f159479a6976e8b = L.map(
                "map_87b2479b7bc180d16f159479a6976e8b",
                {
                    center: [-22.912, -43.2089],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8e72342261f42a511f65751ac3a3ff7c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_8e72342261f42a511f65751ac3a3ff7c.addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
    
            var tile_layer_27dde5c68304692f23e415876e9b1150 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_27dde5c68304692f23e415876e9b1150.addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
    
            var tile_layer_6d6801d8042b419f7b18a37f08bc4373 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_6d6801d8042b419f7b18a37f08bc4373.addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
    
            var tile_layer_c8fd80b864d97fb6e128e6c714af1386 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            );
        
    
            tile_layer_c8fd80b864d97fb6e128e6c714af1386.addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
    
            var tile_layer_a9563c5e266e37305e6ec977eb242aa9 = L.tileLayer(
                "https://earthengine.googleapis.com/v1/projects/plancom-409417/maps/333817cd341186971059b6a2ae7c2d5b-0e8fc0a62bd03e791fd86187176e5ee3/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u0026copy; \u003ca href=\"https://earthengine.google.com/\"\u003eGoogle Earth Engine\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_a9563c5e266e37305e6ec977eb242aa9.addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
    
            var layer_control_66fd20954bb765d5d5152b17283384ba_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_8e72342261f42a511f65751ac3a3ff7c,
                    "google maps" : tile_layer_c8fd80b864d97fb6e128e6c714af1386,
                    "google maps street view" : tile_layer_6d6801d8042b419f7b18a37f08bc4373,
                },
                overlays :  {
                    "elevacao" : tile_layer_a9563c5e266e37305e6ec977eb242aa9,
                },
            };
            let layer_control_66fd20954bb765d5d5152b17283384ba = L.control.layers(
                layer_control_66fd20954bb765d5d5152b17283384ba_layers.base_layers,
                layer_control_66fd20954bb765d5d5152b17283384ba_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_87b2479b7bc180d16f159479a6976e8b);

        
    
                var lat_lng_popup_4023b6e0ffb5c03c7c2df149302ff9d4 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_4023b6e0ffb5c03c7c2df149302ff9d4
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_87b2479b7bc180d16f159479a6976e8b);
                    }
                map_87b2479b7bc180d16f159479a6976e8b.on('click', latLngPop);
            
    
            var marker_2b6825357e83511b8d4a8f5131325826 = L.marker(
                [-22.9555, -43.1661],
                {}
            ).addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
    
            var marker_d80a5a1ad77ea23345ea678bb6f3baa5 = L.marker(
                [-22.9036, -43.1895],
                {}
            ).addTo(map_87b2479b7bc180d16f159479a6976e8b);
        
</script>
</html>