<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fca6d3b51429d5da2b9a6282bdddf4d2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fca6d3b51429d5da2b9a6282bdddf4d2" ></div>
        
</body>
<script>
    
    
            var map_fca6d3b51429d5da2b9a6282bdddf4d2 = L.map(
                "map_fca6d3b51429d5da2b9a6282bdddf4d2",
                {
                    center: [37.7749, -122.4194],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3f424476b67a5928c54d7fb55b4aba61 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_3f424476b67a5928c54d7fb55b4aba61.addTo(map_fca6d3b51429d5da2b9a6282bdddf4d2);
    
            var marker_e08d782522c603b4b0f0b924e0ba7751 = L.marker(
                [37.7749, -122.4194],
                {}
            ).addTo(map_fca6d3b51429d5da2b9a6282bdddf4d2);
        
    
        var popup_ad487aad7a32970842c8ee09e9a09606 = L.popup({"maxWidth": "100%"});

        
            
                var html_81b9003256e34ba0c6e835a4d98d1b0e = $(`<div id="html_81b9003256e34ba0c6e835a4d98d1b0e" style="width: 100.0%; height: 100.0%;">Local de interesse</div>`)[0];
                popup_ad487aad7a32970842c8ee09e9a09606.setContent(html_81b9003256e34ba0c6e835a4d98d1b0e);
            
        

        marker_e08d782522c603b4b0f0b924e0ba7751.bindPopup(popup_ad487aad7a32970842c8ee09e9a09606)
        ;

        
    
</script>
</html>