{% extends 'base.html' %}
{%block conteudo%}

<body>
    <div id="AddPoint" style="height: 15%;">
        <h2 style="text-align: center;">Predicão PTP</h2>
    <ol>

        <form action="{{url_for('ptp')}}" method="post">
            <label for="ponto1">Ponto 1</label>
            <input type="text" id="ponto1" name="ponto1" required>

            <label for="ponto2">Ponto 2</label>
            <input type="text" id="ponto2" name="ponto2" required>

            <label for="f">Frequência</label>
            <input type="text" id="f" name="f" required>

            <button>Calcular perda</button>
        </form>
        <table>
            <tr>
                <th>Ponto 1  </th>
                <th>Ponto 2  </th>
                <th>Frequência  </th>
                <th>Espaço livre  </th>
                <th>Perda Urbana  </th>
                <th>Vegetação  </th>
                <th>Terreno  </th>
                <th>Total (db)  </th>
            </tr>
            {%for perda in perdas%}
            <tr>
            {%for chave, valor in perda.items()%}
                <td>{{valor}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </ol>
    </div>

</body>
{% endblock conteudo%}