{% extends 'base.html' %}
{%block conteudo%}

<body>
    <div id="AddPoint" style="height: 15%;">
        <h2 style="text-align: center;">Predicão PTP</h2>
    <ol>

        <form action="{{url_for('ptp')}}" method="post">
            <label for="ponto1">Ponto 1</label>
            <select id="ponto1" name="ponto1" required>
                    {%for marker in markers%}
                    <option>{{marker["nome"]}}</option>
                    {% endfor %}
                </select>

            <label for="ponto2">Ponto 2</label>
            <select id="ponto2" name="ponto2" required>
                    {%for marker in markers%}
                    <option>{{marker["nome"]}}</option>
                    {% endfor %}
                </select>

            <label for="f">Frequência</label>
            <input type="text" id="f" name="f" required>

            <button>Calcular perda</button>
        </form>
        <style>
            table {
                border-collapse: separate; /* Bordas separadas */
                border-spacing: 10px; /* Define espaçamento entre células */
            }
        </style>
        <table border="1">
            <tr>
                <th>Ponto 1  </th>
                <th>Ponto 2  </th>
                <th>Frequência  </th>
                <th>Espaço livre  </th>
                <th>Perda Urbana  </th>
                <th >Vegetação  </th>
                <th>Terreno  </th>
                <th>Total (db)  </th>
            </tr>

            <tr>
            {%for chave, valor in perdas.items()%}
                <td>{{valor}}</td>
            {% endfor %}
            </tr>
        </table>
        <img src="{{ figura }}" alt="Imagem">

    </ol>
    </div>

</body>
{% endblock conteudo%}